package pages

import "github.com/edjw/gotcha/html/layouts"

templ About() {
	// Using the HomeLayout component to wrap the content of this page.
	@layouts.PageLayout("About") {
		<section>
			<p>This is the About page.</p>
		</section>
	}
}
