package layouts

templ HomeLayout(pageName string) {
	// This is the layout for the home page
	@BaseLayout(pageName) {
		<header>
			<h1>{ pageName }</h1>
		</header>
		<main class="flex flex-col gap-y-8">
			{ children... }
		</main>
		<footer>
			<p>Footer content</p>
		</footer>
	}
}
