package layouts

templ HomeLayout(pageName string) {
	@BaseLayout(pageName) {
		<header>
			<h1 class="underline">{ pageName }</h1>
		</header>
		<main class="prose">
			{ children... }
		</main>
		<footer>
			<p>Footer content</p>
		</footer>
	}
}
